a {
    color: #C83131;
    text-decoration: none;
    position: relative;
    top: 0px;
    transition: 0.1s ease-in-out;
}

a:hover {
    color: #ff4040;
    top: -1px;
}

html,
body,
code {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    color: #333;
    font-family: Helvetica, Tahoma, Arial, STXihei, "åŽæ–‡ç»†é»‘", "Microsoft YaHei", "å¾®è½¯é›…é»‘", SimSun, "å®‹ä½“", Heiti, "é»‘ä½“", sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.625em;
}

code {
    font-weight: bold;
    background-color: beige;
}

/* è®¾ç½®æ‰€æœ‰å›¾ç‰‡çš„åŸºæœ¬æ ·å¼ */
img {
    width: 20%;
    overflow: hidden;
    max-width: 600px;
    border-radius: 5px;
}

.small {
    width: 25%;
    max-width: 250px;
}

body {

    padding: 10px 10px 20px 10px;
    width: calc(100% - 20px);
    text-align: justify;
    border-radius: 10px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    font-weight: bold;
    line-height: 100%;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}


h2 {
    transform: rotate(0.5deg);
    text-align: left;
    font-weight: bold;
    margin-top: 2.5em;
    margin-bottom: 0;
}

h3 {
    text-align: left;
    margin-top: 1.75em;
    margin-bottom: 0;
    font-weight: normal;
}

p {
    transform: rotate(-0.3deg);
}

.swiper {
    /*background-color: rgb(195, 195, 195);*/
    --swiper-theme-color: 195, 195, 195;
}

.swiper-slide {
    /* background-color: rgb(195, 195, 195); */
    text-align: center;
    text-decoration-line: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-group {
    flex: 1 0 calc(50% - 41px);
    /* grow | shrink | basis
    background-color: rgb(0, 255, 170);*/
    margin: 0 1px;
    margin-right: 30px;
    margin-left: 10px;
}

.expand-btn {
    border: none;
    padding: 0 0 0 0;
    background: none;
    cursor: pointer;
}

.game-parent {
    display: flex;
    flex-wrap: wrap;
}

.game {
    flex: 0 0 calc(33% - 41px);
    margin: 0 1px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-right: 30px;
    margin-left: 10px;
}

.divider {
    background-color: #333;
    flex: 0 0 calc(1px);
    margin-top: 30px;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    transform: rotate(-0.3deg);
    text-align: right;
}

li {
    list-style: circle;
}

ul {
    padding-left: 0;
}

#footer {
    transform: rotate(90deg);
    max-width: 550px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;

    padding-top: 80px;
    padding-bottom: 80px;
}


@media (max-width: 900px) {
    blockquote {
        margin: 10px;
    }
}

@media (max-width: 860px) {
    #header #nav {
        width: 300px;
        text-align: right;
        top: 24px;
    }

    #header #nav span {
        opacity: 0;
        display: block;
        height: 0px;
    }

}

@media (max-width: 760px) {
    .web10 {
        display: none;
    }

    blockquote {
        margin: 8px;
    }
}

@media (max-width: 600px) {
    blockquote {
        margin: 8px;
    }

    body {
        width: 90%;
        margin: 0;
    }
}
